extends ../layouts/api.html.pug

block title
  = `${__('views.api.index.title')} - `

append page_stylesheets
  link(rel="stylesheet" type="text/css" href=`/assets/css/api.css?${version}`)

append page_javascripts
  script(type="text/javascript" src=`/assets/js/api.js?${version}`)

block content
