extends ../layouts/application.html.pug

block title
  = `${__('views.home.error.title')} - `

//- append page_stylesheets
//-   link(rel="stylesheet" type="text/css" href=`/assets/css/home_error.css?${version}`)

//- append page_javascripts
//-   script(type="text/javascript" src=`/assets/js/home_error.js?${version}`)

block content
  div= message
